p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    padding: 1rem;
}

a:link {
    color: deepskyblue;
}

a:visited {
    color: #10a4fa;
}

a:focus {
    color: white;
    background-color: deepskyblue;
}

a:hover {
    font-size: 3rem;
    text-align: center;
}

a:active {
    color: white;
    background-color: deepskyblue;
}

a[href*="http"] {
    background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
    background-size: 60px 60px;
    padding-right: 60px;
}

/*a[href*="http"] {*/
/*    background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;*/
/*    background-size: 16px 16px;*/
/*    padding-right: 19px;*/
/*}*/